.counter-generator-control-list,
.counter-item-list,
.counter-ctrl-list
	list-style-type none
	margin 0
	padding 0

.counter-component
	margin 0 0 20px

.counter-generator-control-list
	margin-bottom 20px
	
.counter-ctrl-list
	display flex
	
.counter-ctrl-item
	width: 25%
	
.counter-ctrl-button
	width 100%
	display block

.counter-item-header
	margin 10px 0
	
.counter-item-count
	margin 0