.counter-generator-control-list,
.counter-item-list,
.counter-ctrl-list
	list-style-type none
	margin 0
	padding 0

.counter-generator-control-list
	margin-bottom 20px
	width 50%

.counter-ctrl-list
	display flex
	flex-wrap wrap

.counter-item-list
	width 50%
	
.counter-item,
.counter-component
	width 100%

.counter-item
	background-color #dadada
	padding 0 5px
	box-shadow 2px 2px 5px 1px rgba(0, 0, 0, .3)

.counter-component
	margin 0 0 20px

.counter-item-header
	margin 10px 0
	
.counter-item-count
	margin 0
	padding 10px 0
	width 100%
	text-align center

.counter-ctrl-item
	width: 50%
	
.counter-ctrl-button
	width 100%
	margin 0 0 10px 0
	display block

.counter-remove-item
	width 100%