@import url('https://fonts.googleapis.com/css?family=Roboto+Slab')
$bgndTestColor = Gainsboro

html 
	box-sizing border-box

*,
*:before,
*:after
	box-sizing inherit

fontSize(n)
	font-size n px
	font-size (n/10) rem

body
	background-color $bgndTestColor
	height 100%
	min-height 100%

h1
	font-family 'Roboto Slab', sans-serif;
	color Purple
	text-align center

h2
	list-style-type circle
	fontSize(14)
	font-weight bold
	color #666
	text-align left

p
	line-height 1.333

a
	text-decoration none
	color Purple
	font-weight bold

ul
	margin 0
	padding 0

li
	line-height 1.333
	
code
	color #c7254e
	background-color #eee
	border-radius 4px
	padding 0 5px