doctype html
html.no-js(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title React and Redux examples
		meta(name="description" content="React and Redux examples")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div#appRoot
